# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env

# Build outputs
/frontend/dist/
/frontend/build/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Backend Uploads (keep directory but ignore files)
/backend/uploads/*
!/backend/uploads/.gitkeep

# Testing
coverage/

# OS specific
.DS_Store
Thumbs.db
